//- Contact Page
extends layout

block head
  link(rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="")
  script(src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin="")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")

block content
  .container
    .toolbar
      a(href='/mailer').btn.btn-primary Add Contact
      a(href='/traffic/').btn.btn-info Traffic Insights
      a(href='/logout').btn.btn-warning Logout
      .search-bar
        input.form-control(type="text" id="inputfornames" onkeyup="myname()" placeholder="Search by name")
        input.form-control(type="text" id="inputforadd" onkeyup="myaddress()" placeholder="Search by address")

    .table-section
      .table-card
        .table-card-header Contacts
        div#table
          table.table.table-bordered
            thead
              tr
                th Prefix
                th First
                th Last
                th Street
                th City
                th State
                th Zip
                th Phone
                th Email
                th Lat
                th Lng
                th(colspan="2") Actions
            tbody
              each object in data
                - var jsonSafe = JSON.stringify(object).replace(/&/g, '&amp;').replace(/"/g, '&quot;').replace(/</g, '&lt;').replace(/>/g, '&gt;')
                tr.tablerow(dataobject!=jsonSafe)
                  td #{object.Prefix}
                  td
                    a(href='/traffic/?lat=' + object.Latitude + '&lng=' + object.Longitude + '&radius=5') #{object.Firstname}
                  td
                    a(href='/traffic/?lat=' + object.Latitude + '&lng=' + object.Longitude + '&radius=5') #{object.Lastname}
                  td #{object.Street}
                  td #{object.City}
                  td #{object.State}
                  td #{object.Zip}
                  td #{object.Phone}
                  td #{object.Email}
                  td #{object.Latitude}
                  td #{object.Longitude}
                  td
                    form(action="/delete" method="post" style="display:inline")
                      input(type="hidden" name="mongoID" value=object._id)
                      button.btn.btn-danger.btn-sm(type="submit") Delete
                  td
                    form(action="/getupdateform" method="post" style="display:inline")
                      input(type="hidden" name="mongoID" value=object._id)
                      button.btn.btn-secondary.btn-sm(type="submit") Update

    .col.col-12
      div(id="mapid")

block scripts
  script(src="/javascripts/functions.js")