//- Update contact Page
extends layout

block content
  .container.page-form
    .toolbar
      a(href='/contacts').btn.btn-secondary Main Page
      a(href='/logout').btn.btn-secondary Logout

    form(action="/update" method="post")
      input(type="hidden" name="mongoID" value=object._id)
      .card
        .card-header Edit contact
        .card-body
          .form-group
            label.form-label Prefix
            .radio-group
              label
                input(type="radio" name="Prefix" value="Mr" checked=(object.Prefix === 'Mr'))
                | Mr.
              label
                input(type="radio" name="Prefix" value="Mrs" checked=(object.Prefix === 'Mrs'))
                | Mrs.
              label
                input(type="radio" name="Prefix" value="Ms" checked=(object.Prefix === 'Ms'))
                | Ms.
              label
                input(type="radio" name="Prefix" value="Dr" checked=(object.Prefix === 'Dr'))
                | Dr.

          .form-row
            .form-group
              label.form-label(for="Firstname") First name
              input.form-control#Firstname(type="text" name="Firstname" value=object.Firstname)
            .form-group
              label.form-label(for="Lastname") Last name
              input.form-control#Lastname(type="text" name="Lastname" value=object.Lastname)

          .form-group
            label.form-label(for="Street") Street
            input.form-control#Street(type="text" name="Street" value=object.Street)

          .form-row
            .form-group
              label.form-label(for="City") City
              input.form-control#City(type="text" name="City" value=object.City)
            .form-group
              label.form-label(for="State") State
              select.form-control#State(name="State")
                option(value="" disabled selected=(!object.State)) Select state
                option(value="NJ" selected=(object.State === 'NJ')) NJ
                option(value="NY" selected=(object.State === 'NY')) NY
                option(value="PA" selected=(object.State === 'PA')) PA
                option(value="CT" selected=(object.State === 'CT')) CT
            .form-group
              label.form-label(for="Zip") Zip
              input.form-control#Zip(type="text" name="Zip" value=object.Zip)

          .form-group
            label.form-label(for="Phone") Phone
            input.form-control#Phone(type="text" name="Phone" value=object.Phone)

          .form-group
            label.form-label(for="Email") Email
            input.form-control#Email(type="text" name="Email" value=object.Email)

          .form-group
            label.form-label Contact by
            .checkbox-group
              label
                input(type="checkbox" name="checkphone" checked=(object.Contactbyphone === 'on'))
                | Phone
              label
                input(type="checkbox" name="checkemail" checked=(object.Contactbyemail === 'on'))
                | Email
              label
                input(type="checkbox" name="checkmail" checked=(object.contactbymail === 'on'))
                | Mail
              label
                input(type="checkbox" name="checkall")
                | Any

          .form-group.form-actions
            button.btn.btn-primary(type="submit") Update
